*{
  margin: 0;
  padding: 0;
}

h1{
  color:darkblue;
  font-family: 'Lobster' , cursive;
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 2rem;

}
h2{
  color:darkblue;
  font-family: 'Ephesis' , cursive;
  font-size: 2em;
  margin-bottom: 1rem;
  text-transform: lowercase;
}

h3{
  color:blue;
  margin-bottom: 0;
  margin-bottom: .5rem;
  margin-top: 1rem;
  text-transform: capitalize;
}


 body{
  font-family: 'Gochi Hand' , cursive;
  font-size: 1.5rem;
  line-height: 1.75em;
  border: solid 4px darkblue;
  width: 50%;
  color: black;
  background-image: url("picnic.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

div{
  background-color: lightgray;
  padding: 2rem;
  margin: 2rem;
}

img{
  max-width: 100%;
}
